<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: head('Shopme - Add User')}"></head>
<body>
	<div class="container-fluid">
		<div th:replace="~{navigation :: topNavBar}"></div>

		<div>
			<h1>Manager Users | [[${pageTitle}]]</h1>
		</div>

		<div th:if="${message}" class="alert alert-success text-center"
			th:text="${message}">[[${message}]]</div>

		<form th:action="@{/users/save}" method="post"
			style="max-width: 700px; margin: 0 auto;" th:object="${user}"
			enctype="multipart/form-data" id="userForm"
			onsubmit="return checkEmailUnique(this);">
			<input type="hidden" th:field="*{id}" />
			<div class="border border-secondary rounded p-3">

				<div class="form-group row">
					<label class="col-sm-4 col-form-label">E-mail:</label>
					<div class="col-sm-8">
						<input type="email" th:field="*{email}" class="form-control"
							required minlength="8" maxlength="128" id="email" />
					</div>
				</div>


				<div class="form-group row">
					<label class="col-sm-4 col-form-label">First Name:</label>
					<div class="col-sm-8">
						<input type="text" th:field="*{firstName}" class="form-control"
							required minlength="2" maxlength="45" />
					</div>
				</div>

				<div class="form-group row">
					<label class="col-sm-4 col-form-label">Last Name:</label>
					<div class="col-sm-8">
						<input type="text" th:field="*{lastName}" class="form-control"
							required minlength="2" maxlength="45" />
					</div>
				</div>

				<div class="form-group row">
					<label class="col-sm-4 col-form-label">Password:</label>
					<div class="col-sm-8">
						<input type="password" th:field="*{password}" class="form-control"
							th:required="${!editMode}" minlength="8" maxlength="20"
							th:placeholder="${editMode ? 'Leave Blank if you Dont want to change your Password': 'Enter Password'}" />
					</div>
				</div>


				<div class="form-group row">
					<label class="col-sm-4 col-form-label">Roles:</label>
					<div class="col-sm-8">
						<th:block th:each="role : ${listRoles}">
							<input type="checkbox" th:field="*{roles}" th:text="${role.name}"
								th:value="${role.id}" class="m-2" />
							<small>[[${role.description}]]</small>
							<br />
						</th:block>
					</div>
				</div>

				<div class="form-group row">
					<label class="col-sm-4 col-form-label">Enabled:</label>
					<div class="col-sm-8">
						<input type="checkbox" th:field="*{enabled}" />
					</div>
				</div>

				<div class="form-group row">
					<label class="col-sm-4 col-form-label">Photo:</label>
					<div class="col-sm-4">
						<input type="hidden" th:field="*{photos}" /> <input type="file"
							id="imageInput" name="image" />
					</div>
					<div class="col-sm-4">
						<img th:src="@{/images/ShopmeAdminSmall.png}" id="imageView"
							alt="Image Preview" style="max-width: 200px; max-height: 200px;" />
					</div>
				</div>


				<div class="text-center">
					<input type="submit" value="Save" class="btn btn-primary m-3" /> <input
						type="button" value="Cancel" class="btn btn-secondary"
						id="buttonCancel" />
				</div>

			</div>
		</form>

		<div class="modal fade text-center" id="modalDialog">
			<div class="modal-dialog">
				<div class="modal-content">

					<div class="modal-header">
						<h4 class="modal-title" id="modalTitle"></h4>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>

					<div class="modal-body">
						<span id="modalBody"></span>
					</div>

					<div class="modal-footer">
						<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
					</div>

				</div>
			</div>
		</div>

		<footer th:replace="~{fragments :: footer}"></footer>

	</div>
	<script type="text/javascript"
			th:src="@{/js/common_form.js}"></script>
	<script type="text/javascript">
		moduleURL = "[[@{/users}]]";
		function checkEmailUnique(form) {

			var url = "[[@{/users/check_email}]]";
			var userEmail = $("#email").val();
			var csrfValue = $("input[name='_csrf']").val();
			var userId = $("#id").val();
			params = {
				id : userId,
				email : userEmail,
				_csrf : csrfValue
			};

			$.post(
					url,
					params,
					function(response) {
						if (response == "OK") {
							form.submit();
						} else if (response == "Duplicated") {
							showModalDialog("Warning!",
									"There is another User having the Email"
											+ userEmail);
						} else {
							showModalDialog("Error",
									"Unknown response from Server");
						}

					}).fail(function() {
				showModalDialog("Error", "Could not Connect to Server.");
			});

			return false;
		}

		function showModalDialog(title, message) {
			$('#modalTitle').text(title);
			$('#modalBody').text(message);
			$('#modalDialog').modal();
		}
	</script>

</body>
</html>