<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/fragments :: head('Shopme - Users')}"></head>
<body>
<div class="container-fluid">

    <div th:replace="~{fragments/navigation :: topNavBar}"></div>

    <div>
        <h1>Manage Users</h1>
        <a th:href="@{/users/new}">
            <i class="fas fa-user-plus fa-3x icon-dark cursor-hand"></i>
        </a>
        &nbsp;&nbsp;
        <a th:href="@{/users/export/csv}">
            <i class="fas fa-file-csv fa-3x icon-dark cursor-hand"></i>
        </a>
        &nbsp;&nbsp;
        <a th:href="@{/users/export/pdf}">
            <i class="fas fa-file-pdf fa-3x icon-dark cursor-hand"></i>
        </a>
        &nbsp;&nbsp;
        <a th:href="@{/users/export/excel}">
            <i class="fas fa-file-excel fa-3x icon-dark cursor-hand"></i>
        </a>
    </div>

    <div th:replace="~{fragments/fragments :: search_form_and_message()}"></div>

    <div class="full-details">
        <table
                class="table table-bordered table-striped table-hover table-responsive-xl">
            <thead class="thead-dark">
            <tr>
                <th class="hideable-column">
                <th th:replace="~{fragments/fragments :: tablehead_link('id', 'ID', 'tag')}"></th>
                </th>
                <th>Photos</th>
                <th class="hideable-column">
                <th th:replace="~{fragments/fragments :: tablehead_link('email', 'E-mail', 'tag')}"></th>
                </th>
                <th th:replace="~{fragments/fragments :: tablehead_link('firstName', 'First Name', 'none')}"></th>
                <th th:replace="~{fragments/fragments :: tablehead_link('lastName', 'Last Name', 'none')}"></th>
                <th>Roles</th>
                <th th:replace="~{fragments/fragments :: tablehead_link('enabled', 'Enabled', 'none')}"></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${listUsers}">
                <td class="hideable-column">[[${user.id}]]</td>
                <td><i th:if="${user.id == null}"
                       class="fas fa-portrait fa-3x icon-dark"></i> <img
                        th:src="@{${user.photosImagePath}}" class="img-fluid"
                        style="max-width: 100px; max-height: 100px;"/></td>
                <td class="hideable-column">[[${user.email}]]</td>
                <td>[[${user.firstName}]]</td>
                <td>[[${user.lastName}]]</td>
                <td>[[${user.roles}]]</td>
                <td>
                    <div th:replace="~{fragments/fragments :: status(${product.enabled}, 'setUserStatus', ${product.id})}"></div>
                </td>


                <td style="width: 150px;">
                    <div th:replace="~{fragments/fragments :: edit_delete_fn(${user.id})}"></div>
                </td>


            </tr>
            </tbody>
        </table>
    </div>
    <div class="less-details">
        <div th:each="user: ${listUsers}" class="row m-1">
            <div class="col">
                <i th:if="${user.id == null}"
                   class="fas fa-portrait fa-3x icon-dark"></i>
                <img th:src="@{${user.photosImagePath}}" class="img-fluid"
                     style="max-width: 100px; max-height: 100px;"/>
            </div>
            <div class="col">
                <div>[[${user.fullName}]]</div>
                <div>[[${user.roles}]]</div>
            </div>
            <div class="mt-2">
                <div th:replace="~{fragments/fragments :: edit_delete_fn(${user.id})}"></div>
            </div>
            <div>&nbsp;</div>
        </div>
    </div>

    <div th:replace="~{fragments/fragments :: pagination(${totalPages}, ${currentPage}, ${totalItems}, ${startCount}, ${endCount})}"></div>


    <div th:replace="~{fragments/modal :: modal_dialog}"></div>


    <footer th:replace="~{fragments/fragments :: footer}"></footer>
</div>
<script type="text/javascript">
    MAX_FILE_SIZE = 502400; // 500KB
    $(document)
        .ready(
            function () {
                $('.link-delete')
                    .on(
                        'click',
                        function (event) {
                            event.preventDefault();
                            link = $(this).attr('href');
                            console.log(link);
                            showModalDialog("Are you Sure you want to Delete the User with the id ?");
                            $('.confirm-dialog').attr(
                                'href', link);

                        });
            });

    function showModalDialog(message) {
        $('#modalBody').text(message);
        $('#modalDialog').modal();
    }

    function clearFilter() {
        window.location = "[[@{/users}]]";
        window.MAX_FILE_SIZE = 502400; // 500KB
    }
</script>
</body>
</html>