<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(title)">
    <meta charset="ISO-8859-1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,minimum-scale=1.0">

    <title>[[${title}]] - [[${SITE_NAME}]]</title>
    <link rel="stylesheet" type="text/css"
          th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css"
          th:href="@{/styles/style.css}"/>
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript"
            th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

    <link rel="stylesheet" type="text/css"
          th:href="@{/webjars/font-awesome/5.15.1/css/all.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/style.css}"/>
    <script type="text/javascript"
            th:src="@{/webjars/font-awesome/5.15.1/js/all.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript"
            th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <script type="text/javascript"
            th:src="@{/js/common.js}"></script>
    <link rel="stylesheet" th:href="@{/styles/rte_theme_default.css}">
    <script type="text/javascript" th:src="@{/js/all_plugins.js}"></script>
    <script type="text/javascript" th:src="@{/js/rte.js}"></script>



</head>

<body>

<a th:fragment="pagination_link(page, text, context)" class="page-link"
   th:href="@{'/'+${context}+'/page/'+${page} +'?sortField='+${sortField}+'&sortDir=' +${sortDir} +${(keyword!=null) ? '&keyword='+keyword : ''} }">
    [[${text}]]</a>

<div th:fragment="pagination(context, totalPages, currentPage, totalItems, startCount, endCount, MessageContext)">
    <div class="text-center m-1" th:if="${totalItems > 0}">
			<span>Showing [[${#strings.capitalize(MessageContext)}]] # [[${startCount}]] to [[${endCount}]] of
				[[${totalItems}]]</span>
    </div>

    <div class="text-center m-1" th:if="${totalItems == 0}">
        <span>No [[${MessageContext}]] found</span>
    </div>

    <div th:if="${totalPages > 0}">
        <nav>
            <ul class="pagination justify-content-center">
                <li
                        th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
                    <a th:replace="~{fragments :: pagination_link(1, 'First', ${context})}"></a>
                </li>
                <li
                        th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
                    <a th:replace="~{fragments :: pagination_link(${(currentPage - 1 <= 0) ? 1 : (currentPage -1)}, 'Previous', ${context})}"></a>
                </li>

                <li
                        th:class="${currentPage != i ? 'page-item' : 'page-item active'}"
                        th:each="i : ${#numbers.sequence(1, totalPages)}">
                    <a th:replace="~{fragments :: pagination_link(${i}, ${i.toString()}, ${context})}"></a>

                </li>

                <li
                        th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
                    <a th:replace="~{fragments :: pagination_link(${(currentPage+1)}, 'Next', ${context})}"></a>
                </li>


                <li
                        th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
                    <a th:replace="~{fragments :: pagination_link(${totalPages}, 'Last', ${context})}"></a>
                </li>
            </ul>
        </nav>
    </div>
</div>

<div th:fragment="modal_dialog" class="modal fade text-center" id="modalDialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modalTitle">Warning</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
                <span id="modalBody"></span>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div th:fragment="format_currency(amount)" th:remove="tag">
    <span th:if="${CURRENCY_SYMBOL_POSITION=='before'}" th:remove="tag">[[${CURRENCY_SYMBOL}]]</span>
    [[${#numbers.formatDecimal(amount, 1, THOUSANDS_POINT_TYPE, DECIMAL_DIGITS, CURRENCY_POINT_TYPE)}]]
    <span th:if="${CURRENCY_SYMBOL_POSITION=='after'}" th:remove="tag">[[${CURRENCY_SYMBOL}]]</span>
</div>

<div th:fragment="currency_input(amount)" th:remove="tag">
    <input type="text" readonly class="form-control" th:value="${ (CURRENCY_SYMBOL_POSITION == 'before' ? CURRENCY_SYMBOL : '') + #numbers.formatDecimal(amount, 1, THOUSANDS_POINT_TYPE, DECIMAL_DIGITS, CURRENCY_POINT_TYPE) + (CURRENCY_SYMBOL_POSITION == 'after' ? CURRENCY_SYMBOL : '') }">
</div>


<div th:fragment="format_time(dateTime)" th:remove="tag">
    <span th:text="${#dates.format(dateTime, 'yyyy-MM-dd HH:mm:ss')}"></span>
</div>


<footer th:fragment="footer">
    <div>
        <p>Shopme Control Panel - [[${COPYRIGHT}]]</p>
    </div>
</footer>

</body>
</html>

