<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head th:replace="~{fragments :: head('Shopme - Error')}"></head>
<body>
<div class="container-fluid">

  <div th:replace="~{navigation :: topNavBar}"></div>

  <div class="text-center">
    <h2 class="m-3">Sorry, The requested Resource is not present on the Server.</h2>
  </div>

  <div>
    <h1>Developed by Nurudeen Abdulmalik</h1>
    <h1>Developed by Nurudeen Abubakr</h1>
  </div>

  <footer th:replace="~{fragments :: footer}"></footer>
</div>
</body>
</html>