<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="row m-2" th:fragment="content">
    <div class="col">
        <th:block th:each="review: ${listReviews}">


            <div class="row">
                <div class="col-xs">
                    <input type="text" class="product-detail-rating-star" dir="ltr" data-size="2"
                           th:value="${review.rating}"/>
                </div>
            </div>

            <div class="row">
                <div class="col-xs ml-2">
                    <a class="linkVoteReview"
                       th:reviewId="${review.id}"
                       th:id="'linkVoteUp-'+${review.id}"
                       th:href="@{'/vote_review/'+${review.id} + '/up'}">
                        <i th:classappend="${review.upvotedByCurrentCustomer ? 'fas' : 'far'}" class="fa-thumbs-up"></i></a>
                </div>

                <div class="col-xs ml-2">
                    <span th:id="'voteCount-' + ${review.id}">
                    [[${review.votes}]] Votes</span>
                </div>

                <div class="col-xs ml-2">
                    <a class="linkVoteReview"
                       th:reviewId="${review.id}"
                       th:id="'linkVoteDown-'+${review.id}"
                       th:href="@{'/vote_review/'+${review.id} + '/down'}">
                        <i th:classappend="${review.downvotedByCurrentCustomer ? 'fas' : 'far'}" class="fa-thumbs-down"></i></a>
                </div>
            </div>

            <div class="row">
                <div class="col"><b>[[${review.headline}]]</b></div>
            </div>

            <div class="row">
                <div class="col">[[${review.comment}]]</div>
            </div>

            <div class="row">
                <div class="col ml-3">
                    <small>[[${review.customer.fullName}]],
                        <div th:replace="fragments.html :: format_time(${review.reviewTime})"></div>
                    </small>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <hr/>
                </div>
            </div>

        </th:block>
    </div>
</div>
</body>
</html>