<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
>
<head th:fragment="head(title)">
    <meta charset="ISO-8859-1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
</head>

<body>
<div th:fragment="content" th:remove="tag">

    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Product Name:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" th:field="*{name}" required minlength="3" maxlength="256"
                   id="nameInput"/>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Alias:</label>
        <div class="col-sm-10">
            <input type="text" placeholder="Default is product name( spaces are replaced by dashes)"
                   class="form-control" th:field="*{alias}" required minlength="3" maxlength="45"/>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Brand: </label>
        <div class="col-sm-10">
            <select class="form-control" th:field="*{brand}" id="brandSelect">
                <th:block th:each="brand: ${listBrands}">
                    <option th:value="${brand.id}">[[${brand.name}]]</option>
                </th:block>
            </select>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Category: </label>
        <div class="col-sm-10">

            <th:block th:if="${product.category == null}">
                <select class="form-control" th:field="*{category}" id="categorySelect" required>
                </select>
            </th:block>

            <th:block th:if="${product.category != null}" id="categorySelect">
                <select class="form-control" th:field="*{category}" required>
                    <th:block th:each="cat: ${product.brand.categories}">
                        <option th:value="${cat.id}">[[${cat.name}]]</option>
                    </th:block>
                </select>
            </th:block>

        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Enabled: </label>
        <div class="col-sm-10">
            <input type="checkbox" th:field="*{enabled}" required/>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label">In-Stock: </label>
        <div class="col-sm-10">
            <input type="checkbox" th:field="*{inStock}" required/>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Cost: </label>
        <div class="col-sm-10">
            <input type="number" class="form-control" th:field="*{price}" required/>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label">List Price: </label>
        <div class="col-sm-10">
            <input type="number" class="form-control" th:field="*{price}" required/>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Discount: </label>
        <div class="col-sm-10">
            <input type="number" class="form-control" th:field="*{discountPercent}" required/>
        </div>
    </div>

</div>
<div th:fragment="description">

    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Short Description: </label>
        <div class="col-sm-10">
            <textarea id="shortDesc" class="form-control" th:field="*{shortDescription}" rows="10" cols="20"
                      maxlength="512"></textarea>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Full Description: </label>
        <div class="col-sm-10">
            <textarea id="longDesc" class="form-control" th:field="*{fullDescription}" rows="10" cols="20"
                      maxlength="4096"></textarea>
        </div>
    </div>

</div>
<div th:fragment="shipping">

    <p class="m-2">
        The following information is important to calculate shipping cost for the product. <br>
        The dimensions (L X W X H ) is for the box that is used to package the product - not the product itself
    </p>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Length (inch): </label>
        <div class="col-sm-10">
            <input type="number" class="form-control" th:field="*{length}" required/>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Width (inch): </label>
        <div class="col-sm-10">
            <input type="number" class="form-control" th:field="*{width}" required/>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Height (inch): </label>
        <div class="col-sm-10">
            <input type="number" class="form-control" th:field="*{height}" required/>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Weight (pounds): </label>
        <div class="col-sm-10">
            <input type="number" class="form-control" th:field="*{weight}" required/>
        </div>
    </div>
</div>

<div th:fragment="images" th:remove="tag">
    <div class="row" id="divProductImages">

        <div class="col border m-3 p-2">
            <div><label>Main Image: [[${product.mainImage}]]</label></div>
            <div class="m-2"><img id="imageView" alt="Main image preview" class="img-fluid"
                                  th:src="@{${product.mainImagePath}}"></div>
            <div><input type="file" name="image"
                        accept="image/png, image/jpeg"
                        id="imageInput"
                        th:required="${product.mainImage == null}">
            </div>
            <input type="hidden" th:field="*{mainImage}">
        </div>

        <th:block th:each="productImage, status : ${product.images}">
            <div class="col border m-3 p-2" th:id="${'divExtraImage'+status.index}">
                <div>
                    <label>Extra Image #[[${status.index +1}]]: [[${productImage.name}]]</label>
                    <a class="btn fas fa-times-circle fa-4x icon-dark float-right linkRemoveExtraImage"></a>
                </div>
                <div class="m-2">
                    <img th:alt="${'Extra Image '+status.index+' preview'}" class="img-fluid"
                         th:id="${'extraThumbnail'+status.index}"
                         th:src="@{${productImage.imagePath}}">
                </div>
                <div><input type="file" name="extraImage"
                            accept="image/png, image/jpeg">
                </div>
                <input type="hidden" name="imageIDs" th:id="'imageId' + ${status.index}"/>
                <input type="hidden" name="imageNames" th:id="'imageName' + ${status.index}"/>
            </div>
        </th:block>

        <div class="col border m-3 p-2" th:id="${'divExtraImage' + numberOfExistingExtraImages}">
            <div th:id="${'extraImageHeader' + numberOfExistingExtraImages}">
                <label>Extra Image #[[${numberOfExistingExtraImages +1}]]: </label></div>
            <div class="m-2">
                <img th:id="${'extraThumbnail' + numberOfExistingExtraImages}"
                     th:alt="${'Extra Image ' + numberOfExistingExtraImages + ' preview'}"
                     class="img-fluid"
                     th:src="@{/images/image-thumbnail.png}"></div>
            <div><input type="file" name="extraImage"
                        accept="image/png, image/jpeg"
                        th:id="${'extraImage' + numberOfExistingExtraImages}">
            </div>
        </div>


    </div>
</div>

<div th:fragment="details" id="divProductDetails">

    <th:block th:each="detail, status: ${product.details}" th:if="${product.details !=null}">
        <div class="form-inline" th:id="${'divDetail'+status.index}">
            <label class="m-3">Name</label>
            <input type="text" name="detailNames" maxlength="255" class="form-control w-25" th:value="${detail.name}">
            <label class="m-3">Value</label>
            <input type="text" name="detailValues" maxlength="255" class="form-control w-25" th:value="${detail.value}">
            <a class="btn fas fa-times-circle fa-4x icon-dark float-right linkRemoveExtraDetails"></a>
        </div>
    </th:block>


        <div class="form-inline" th:id="${'divDetail'+#lists.size(product.details)}">
            <label class="m-3">Name</label>
            <input type="text" name="detailNames" maxlength="255" class="form-control w-25">
            <label class="m-3">Value</label>
            <input type="text" name="detailValues" maxlength="255" class="form-control w-25">
        </div>
</div>

</body>
</html>

