<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/fragments :: head('Shopme - Category')}"></head>
<body>
<div class="container-fluid">

    <div th:replace="~{fragments/navigation :: topNavBar}"></div>

    <div>
        <h1>Manage Categories</h1>
        <a th:href="@{/categories/new}">
            <i class="fas fa-folder-plus fa-3x icon-dark cursor-hand"></i>
        </a>
        &nbsp;&nbsp;
        <a th:href="@{/categories/export/csv}">
            <i class="fas fa-file-csv fa-3x icon-dark cursor-hand"></i>
        </a>
    </div>
    <div th:replace="~{fragments/fragments :: search_form_and_message('/categories/page/1')}"></div>

    <div class="full-details">
        <table
                class="table table-bordered table-striped table-hover table-responsive-xl">
            <thead class="thead-dark">
            <tr>
                <th class="hideable-column">
                <th th:replace="~{fragments/fragments :: tablehead_link('id', 'ID', 'tag', 'categories')}"></th>
                </th>
                <th>Category Image</th>
                <th th:replace="~{fragments/fragments :: tablehead_link('name', 'Category Name', 'none', 'categories')}"></th>
                </th>
                <th th:replace="~{fragments/fragments :: tablehead_link('alias', 'Alias', 'none', 'categories')}"></th>
                <th th:replace="~{fragments/fragments :: tablehead_link('enabled', 'Enabled', 'none', 'categories')}"></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="category : ${listCategories}">
                <td class="hideable-column">[[${category.id}]]</td>
                <td><i th:if="${category.id == null}"
                       class="fas fa-portrait fa-3x icon-dark"></i>
                    <img th:src="@{${category.photosImagePath}}" class="img-fluid"
                        style="max-width: 100px; max-height: 100px;"/>
                </td>
                <td class="hideable-column">[[${category.name}]]</td>
                <td>[[${category.alias}]]</td>
                <td><a th:if="${category.enabled == true}" class="cursor-hand"
                       th:href="@{'/categories/setCategoryStatus/'+${category.id}+'/false'}"> <i
                        class="fas fa-check-circle fa-2x icon-green"></i></a> <a
                        th:if="${category.enabled == false}"
                        th:href="@{'/categories/setCategoryStatus/'+${category.id}+'/true'}"
                        class="cursor-hand"> <i class="fas fa-circle fa-2x icon-dark"></i>
                </a></td>


                <td style="width: 150px;">
                    <div th:replace="~{fragments/fragments :: category_actions}"></div></td>


            </tr>
            </tbody>
        </table>
    </div>
    <div class="less-details">
        <div th:each="category: ${listCategories}" class="row m-1">
            <div class="col">
                <i th:if="${category.id == null}"
                   class="fas fa-portrait fa-3x icon-dark"></i>
                <img th:src="@{${category.photosImagePath}}" class="img-fluid"
                     style="max-width: 100px; max-height: 100px;"/>
            </div>
            <div class="col">
                <div>[[${category.name}]]</div>
                <div>[[${category.alias}]]</div>
            </div>
            <div class="mt-2">

                <a title="Edit this User" class="cursor-hand" th:href="@{'/categories/edit/'+${category.id} }"> <i
                        class="fas fa-edit fa-2x icon-green"></i></a> &nbsp;
                <a th:href="@{'/categories/delete/'+${category.id}}" class="cursor-hand link-delete"> <i
                        class="fas fa-trash fa-2x icon-dark"> </i></a>

            </div>
            <div>&nbsp;</div>
        </div>
    </div>

    <div class="text-center m-1" th:if="${totalItems > 0}">
			<span>Showing Categories # [[${startCount}]] to [[${endCount}]] of
				[[${totalItems}]]</span>
    </div>

    <div class="text-center m-1" th:if="${totalItems == 0}">
        <span>No categories found</span>
    </div>

    <div th:if="${totalPages > 0}">
        <nav>
            <ul class="pagination justify-content-center">
                <li
                        th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
                    <a th:replace="~{fragments/fragments :: pagination_link(1, 'First', 'categories')}"></a>
                </li>
                <li
                        th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
                    <a th:replace="~{fragments/fragments :: pagination_link(${(currentPage - 1 <= 0) ? 1 : (currentPage -1)}, 'Previous', 'categories')}"></a>
                </li>

                <li
                        th:class="${currentPage != i ? 'page-item' : 'page-item active'}"
                        th:each="i : ${#numbers.sequence(1, totalPages)}">
                    <a th:replace="~{fragments/fragments :: pagination_link(${i}, ${i.toString()}, 'categories')}"></a>

                </li>

                <li
                        th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
                    <a th:replace="~{fragments/fragments :: pagination_link(${(currentPage+1)}, 'Next', 'categories')}"></a>
                </li>


                <li
                        th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
                    <a th:replace="~{fragments/fragments :: pagination_link(${(totalPages)}, 'Last', 'categories')}"></a>
                </li>
            </ul>
        </nav>
    </div>


    <div th:replace="~{fragments/modal :: modal_dialog}"></div>


    <footer th:replace="~{fragments/fragments :: footer}"></footer>
</div>
<script type="text/javascript">
    $(document)
        .ready(
            function () {
                $('.link-delete')
                    .on(
                        'click',
                        function (event) {
                            event.preventDefault();
                            link = $(this).attr('href');
                            console.log(link);
                            showModalDialog("Are you Sure you want to Delete the User with the id ?");
                            $('.confirm-dialog').attr(
                                'href', link);

                        });
            });

    function showModalDialog(message) {
        $('#modalBody').text(message);
        $('#modalDialog').modal();
    }

    function clearFilter() {
        window.location = "[[@{/categories}]]"
    }
</script>
</body>
</html>