<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: head('Shopme Application Web page')}"></head>
<body>
<div class="container-fluid text-center">
    <div th:replace="~{navigation :: header_menu}"></div>
    <div>&nbsp;</div>
    <div>
        <h1>Forgot Password</h1>
    </div>

    <form th:action="@{/reset_password}"
          method="post" style="max-width: 420px;
          margin: 0 auto">

        <input type="hidden" th:value="${token}" name="token">

        <div class="border border-secondary rounded p-3">
            <div>
                <p><input type="password"
                          name="password"
                          maxlength="15"
                          autofocus="autofocus"
                          required
                          placeholder="Enter your new Password"
                          class="form-control"
                          oninput="checkPasswordMatch(document.getElementById('confirmPassword'))"
                          minlength="8" id="password"></p>
            </div>

            <div>
                <p><input type="password"
                          name="password"
                          maxlength="15"
                          class="form-control"
                          autofocus="autofocus"
                          required
                          oninput="checkPasswordMatch(document.getElementById('password'))"
                          placeholder="Renter your new Password"
                          minlength="8" id="confirmPassword"></p>
            </div>

            <div>
                <input type="submit" value="Change Password" class="btn btn-primary"/></div>
        </div>
    </form>
    <div>&nbsp;</div>

    <div th:replace="~{navigation :: footer_menu}"></div>
</div>
<script th:src="@{/js/common.js}"></script>
</body>
</html>