<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
>
<head th:fragment="head(title)">
    <meta charset="ISO-8859-1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,minimum-scale=1.0">

    <title>[[${title}]]</title>
    <link rel="stylesheet" type="text/css"
          th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css"
          th:href="@{/webjars/font-awesome/5.15.1/css/all.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/style.css}"/>
    <script type="text/javascript"
            th:src="@{/webjars/font-awesome/5.15.1/js/all.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript"
            th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <script type="text/javascript"
            th:src="@{/js/common.js}"></script>
    <link rel="stylesheet" th:href="@{/styles/rte_theme_default.css}">
    <script type="text/javascript" th:src="@{/js/all_plugins.js}"></script>
    <script type="text/javascript" th:src="@{/js/rte.js}"></script>
</head>

<body>

<a th:fragment="pagination_link(page, text)" class="page-link"
   th:href="@{${moduleURL}+'/page/'+${page} +'?sortField='+${sortField}+'&sortDir=' +${sortDir} +${(keyword!=null) ? '&keyword='+keyword : ''} +${categoryId !=null ? '&categoryId='+categoryId : ''}  }">
    [[${text}]]</a>

<th th:fragment="tablehead_link(fieldName, columnLabel, removeTag)" th:remove="${removeTag}">

    <a
            th:href="@{${moduleURL}+'/page/' + ${currentPage} + '?sortField='+${fieldName}+'&sortDir=' +${(sortField != fieldName ? sortDir : reverseSortDir)} +${(keyword!=null) ? '&keyword='+keyword : ''} }"
            class="cursor-hand text-white">[[${columnLabel}]]</a>
    <span th:if="${sortField == fieldName}"
          th:class="${sortDir == 'asc' ? 'fas fa-sort-up' : 'fas fa-sort-down' }"
    ></span>

</th>

<div th:fragment="category_actions" th:remove="tag">
    <a title="Edit this User"
       class="cursor-hand" th:href="@{'/categories/edit/'+${category.id} }">
        <i class="fas fa-edit fa-2x icon-green"></i>
    </a> &nbsp;
    <th:block th:if="${!category.hasChildren}">
        <a th:href="@{'/categories/delete/'+${category.id}}"
           class="cursor-hand link-delete"> <i
                class="fas fa-trash fa-2x icon-dark"> </i></a>
    </th:block>
</div>

<div th:fragment="format_currency(amount)" th:remove="tag">
    <span th:if="${CURRENCY_SYMBOL_POSITION=='before'}" th:remove="tag">[[${CURRENCY_SYMBOL}]]</span>
    [[${#numbers.formatDecimal(amount, 1, THOUSANDS_POINT_TYPE, DECIMAL_DIGITS, CURRENCY_POINT_TYPE)}]]
    <span th:if="${CURRENCY_SYMBOL_POSITION=='after'}" th:remove="tag">[[${CURRENCY_SYMBOL}]]</span>
</div>

<div th:fragment="currency_input(amount)" th:remove="tag">
    <input type="text" readonly class="form-control" th:value="${ (CURRENCY_SYMBOL_POSITION == 'before' ? CURRENCY_SYMBOL : '') + #numbers.formatDecimal(amount, 1, THOUSANDS_POINT_TYPE, DECIMAL_DIGITS, CURRENCY_POINT_TYPE) + (CURRENCY_SYMBOL_POSITION == 'after' ? CURRENCY_SYMBOL : '') }">
</div>


<div th:fragment="format_time(dateTime)" th:remove="tag">
    <span th:text="${#dates.format(dateTime, 'yyyy-MM-dd HH:mm:ss')}"></span>
</div>

<div th:fragment="edit_delete_fn(Id)">
    <a class="cursor-hand" th:href="@{${moduleURL}+'/edit/'+${Id} }">
        <i class="fas fa-edit fa-2x icon-green"></i></a> &nbsp;
    <a th:href="@{${moduleURL}+'/delete/'+${Id} }"
       class="cursor-hand link-delete">
        <i class="fas fa-trash fa-2x icon-dark"> </i></a>
</div>

<div th:fragment="delete_fn(Id)">
    <a th:href="@{${moduleURL}+'/delete/'+${Id} }"
       class="cursor-hand link-delete">
        <i class="fas fa-trash fa-2x icon-dark"> </i></a>
</div>

<div th:fragment="edit_fn(Id)">
    <a class="cursor-hand" th:href="@{${moduleURL}+'/edit/'+${Id} }">
        <i class="fas fa-edit fa-2x icon-green"></i></a> &nbsp;
</div>

<div th:fragment="detail_fn(Id)">
    <a class="cursor-hand link-details"
       th:href="@{${moduleURL}+'/detail/'+${Id}}">
        <i class="fas fa-file-alt fa-2x icon-green"></i>
    </a>&nbsp;
</div>

<div th:fragment="detail_edit_delete_fn(Id)">
    <a class="cursor-hand link-details"
       th:href="@{${moduleURL}+'/detail/'+${Id}}">
        <i class="fas fa-file-alt fa-2x icon-green"></i>
    </a>&nbsp;
    <a class="cursor-hand" th:href="@{'/'+${moduleURL}+'/edit/'+${Id} }">
        <i class="fas fa-edit fa-2x icon-green"></i></a> &nbsp;
    <a th:href="@{${moduleURL}+'/delete/'+${Id} }"
       class="cursor-hand link-delete">
        <i class="fas fa-trash fa-2x icon-dark"> </i></a>
</div>

<div th:fragment="status(status, routingPass, id)">
    <a th:if="${status == true}" class="cursor-hand"
       th:href="@{${moduleURL}+'/'+${routingPass}+'/'+${id}+'/false'}"> <i
            class="fas fa-check-circle fa-2x icon-green"></i></a>
    <a
            th:if="${status == false}"
            th:href="@{${moduleURL}+'/'+${routingPass}+'/'+${id}+'/true'}"
            class="cursor-hand"> <i class="fas fa-circle fa-2x icon-dark"></i>
    </a>
</div>

<div th:fragment="search_form_and_message()" class="m-1">
    <form class="form-inline" th:action="@{${moduleURL}+'/page/1'}">
        <input type="hidden" name="sortField" th:value="${sortField}">
        <input type="hidden" name="sortDir" th:value="${sortDir}">
        <input class="form-control mr-sm-2" type="search" placeholder="Filter" aria-label="Search" name="keyword"
               id="keyword" required th:value="${keyword}">
        <button class="btn btn-outline-primary my-2 my-sm-0 fas fa-search fa-3x" type="submit"></button>&nbsp;&nbsp;
        <button class="btn btn-outline-secondary my-2 my-sm-0 fas fa-eraser fa-3x" type="button"
                onclick="clearFilter()"></button>
    </form>
    <div th:if="${message}" class="alert alert-success text-center"
         th:text="${message}">[[${message}]]
    </div>
</div>

<div th:fragment="pagination(totalPages, currentPage, totalItems, startCount, endCount)">
    <div class="text-center m-1" th:if="${totalItems > 0}">
			<span>Showing [[${#strings.capitalize(contextDisplay)}]] # [[${startCount}]] to [[${endCount}]] of
				[[${totalItems}]]</span>
    </div>

    <div class="text-center m-1" th:if="${totalItems == 0}">
        <span>No [[${contextDisplay}]] found</span>
    </div>

    <div th:if="${totalPages > 0}">
        <nav>
            <ul class="pagination justify-content-center">
                <li
                        th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
                    <a th:replace="~{fragments/fragments :: pagination_link(1, 'First')}"></a>
                </li>
                <li
                        th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
                    <a th:replace="~{fragments/fragments :: pagination_link(${(currentPage - 1 <= 0) ? 1 : (currentPage -1)}, 'Previous')}"></a>
                </li>

                <li
                        th:class="${currentPage != i ? 'page-item' : 'page-item active'}"
                        th:each="i : ${#numbers.sequence(1, totalPages)}">
                    <a th:replace="~{fragments/fragments :: pagination_link(${i}, ${i.toString()})}"></a>

                </li>

                <li
                        th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
                    <a th:replace="~{fragments/fragments :: pagination_link(${(currentPage+1)}, 'Next')}"></a>
                </li>


                <li
                        th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
                    <a th:replace="~{fragments/fragments :: pagination_link(${totalPages}, 'Last')}"></a>
                </li>
            </ul>
        </nav>
    </div>
</div>


<footer th:fragment="footer">
    <div>
        <p>Shopme Control Panel - Copyright &copy;shopme</p>
    </div>
</footer>

</body>
</html>

