<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
>
<head th:fragment="head(title)">
    <meta charset="ISO-8859-1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,minimum-scale=1.0">

    <title>[[${title}]]</title>
    <link rel="stylesheet" type="text/css"
          th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css"
          th:href="@{/webjars/font-awesome/5.15.1/css/all.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}"/>
    <script type="text/javascript"
            th:src="@{/webjars/font-awesome/5.15.1/js/all.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript"
            th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <script type="text/javascript"
            th:src="@{/js/common.js}"></script>
</head>

<body>

<a th:fragment="pagination_link(page, text, context)" class="page-link"
   th:href="@{'/'+${context}+'/page/'+${page} +'?sortField='+${sortField}+'&sortDir=' +${sortDir} +${(keyword!=null) ? '&keyword='+keyword : ''}  }">
    [[${text}]]</a>

<th th:fragment="tablehead_link(fieldName, columnLabel, removeTag, context)" th:remove="${removeTag}">

    <a
            th:href="@{'/'+${context}+'/page/' + ${currentPage} + '?sortField='+${fieldName}+'&sortDir=' +${(sortField != fieldName ? sortDir : reverseSortDir)} +${(keyword!=null) ? '&keyword='+keyword : ''} }"
            class="cursor-hand text-white">[[${columnLabel}]]</a>
    <span th:if="${sortField == fieldName}"
          th:class="${sortDir == 'asc' ? 'fas fa-sort-up' : 'fas fa-sort-down' }"
    ></span>

</th>

<div th:fragment="category_actions" th:remove="tag">
    <a title="Edit this User"
       class="cursor-hand" th:href="@{'/categories/edit/'+${category.id} }">
        <i class="fas fa-edit fa-2x icon-green"></i>
    </a> &nbsp;
    <th:block th:if="${!category.hasChildren}">
        <a th:href="@{'/categories/delete/'+${category.id}}"
           class="cursor-hand link-delete"> <i
                class="fas fa-trash fa-2x icon-dark"> </i></a>
    </th:block>
</div>

<div th:fragment="edit_delete_fn(context,Id)">
    <a class="cursor-hand" th:href="@{'/'+${context}+'/edit/'+${Id} }">
        <i class="fas fa-edit fa-2x icon-green"></i></a> &nbsp;
    <a th:href="@{'/'+${context}+'/delete/'+${Id} }"
       class="cursor-hand link-delete">
        <i class="fas fa-trash fa-2x icon-dark"> </i></a>
</div>

<div th:fragment="detail_edit_delete_fn(context,Id)">
    <a class="fas fa-file-alt fa-2x icon-green"
       title="View details of this products"
       th:href="@{'/'+${context}+'/detail/'+${Id}}"></a>&nbsp;
    <a class="cursor-hand" th:href="@{'/'+${context}+'/edit/'+${Id} }">
        <i class="fas fa-edit fa-2x icon-green"></i></a> &nbsp;
    <a th:href="@{'/'+${context}+'/delete/'+${Id} }"
       class="cursor-hand link-delete">
        <i class="fas fa-trash fa-2x icon-dark"> </i></a>
</div>

<div th:fragment="status(status, context, routingPass, id)">
    <a th:if="${status == true}" class="cursor-hand"
       th:href="@{'/'+${context}+'/'+${routingPass}+'/'+${id}+'/false'}"> <i
            class="fas fa-check-circle fa-2x icon-green"></i></a>
    <a
            th:if="${status == false}"
            th:href="@{'/'+${context}+'/'+${routingPass}+'/'+${id}+'/true'}"
            class="cursor-hand"> <i class="fas fa-circle fa-2x icon-dark"></i>
    </a>
</div>

<div th:fragment="search_form_and_message(link)" class="m-1">
    <form class="form-inline" th:action="@{${link}}">
        <input type="hidden" name="sortField" th:value="${sortField}">
        <input type="hidden" name="sortDir" th:value="${sortDir}">
        <input class="form-control mr-sm-2" type="search" placeholder="Filter" aria-label="Search" name="keyword"
               id="keyword" required th:value="${keyword}">
        <button class="btn btn-outline-primary my-2 my-sm-0 fas fa-search fa-3x" type="submit"></button>&nbsp;&nbsp;
        <button class="btn btn-outline-secondary my-2 my-sm-0 fas fa-eraser fa-3x" type="button"
                onclick="clearFilter()"></button>
    </form>
    <div th:if="${message}" class="alert alert-success text-center"
         th:text="${message}">[[${message}]]
    </div>
</div>

<div th:fragment="pagination(context, totalPages, currentPage, totalItems, startCount, endCount)">
    <div class="text-center m-1" th:if="${totalItems > 0}">
			<span>Showing [[${#strings.capitalize(context)}]] # [[${startCount}]] to [[${endCount}]] of
				[[${totalItems}]]</span>
    </div>

    <div class="text-center m-1" th:if="${totalItems == 0}">
        <span>No [[${context}}]] found</span>
    </div>

    <div th:if="${totalPages > 0}">
        <nav>
            <ul class="pagination justify-content-center">
                <li
                        th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
                    <a th:replace="~{fragments/fragments :: pagination_link(1, 'First', ${context})}"></a>
                </li>
                <li
                        th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
                    <a th:replace="~{fragments/fragments :: pagination_link(${(currentPage - 1 <= 0) ? 1 : (currentPage -1)}, 'Previous', ${context})}"></a>
                </li>

                <li
                        th:class="${currentPage != i ? 'page-item' : 'page-item active'}"
                        th:each="i : ${#numbers.sequence(1, totalPages)}">
                    <a th:replace="~{fragments/fragments :: pagination_link(${i}, ${i.toString()}, ${context})}"></a>

                </li>

                <li
                        th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
                    <a th:replace="~{fragments/fragments :: pagination_link(${(currentPage+1)}, 'Next', ${context})}"></a>
                </li>


                <li
                        th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
                    <a th:replace="~{fragments/fragments :: pagination_link(${totalPages}, 'Last', ${context})}"></a>
                </li>
            </ul>
        </nav>
    </div>
</div>


<footer th:fragment="footer">
    <div>
        <p>Shopme Control Panel - Copyright &copy;shopme</p>
    </div>
</footer>

</body>
</html>

